@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);

	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);

	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);

	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);

	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);

	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);

	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);

	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);

	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

:root {
	--radius: 0.625rem;

	--background: oklch(1 0 0);
	--foreground: oklch(0.147 0.004 265);

	--card: oklch(1 0 0);
	--card-foreground: oklch(0.147 0.004 265);

	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.147 0.004 265);

	--primary: oklch(0.546 0.245 262.881);
	--primary-foreground: oklch(100% 0.00011 271.152);

	--secondary: oklch(0.932 0.032 255.585);
	--secondary-foreground: oklch(0.147 0.004 265);

	--muted: oklch(0.932 0.032 255.585);
	--muted-foreground: oklch(0.553 0.013 265);

	--accent: oklch(0.809 0.105 251.813);
	--accent-foreground: oklch(0.147 0.004 265);

	--destructive: oklch(0.577 0.245 27.325);

	--border: oklch(0.546 0.245 262.881);
	--input: oklch(0.882 0.059 254.128);
	--ring: oklch(0.623 0.214 259.815);

	--chart-1: oklch(0.424 0.199 265.638);
	--chart-2: oklch(0.488 0.243 264.376);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.707 0.165 254.624);
	--chart-5: oklch(0.809 0.105 251.813);

	--sidebar: oklch(0.985 0.001 265);
	--sidebar-foreground: oklch(0.147 0.004 265);
	--sidebar-primary: oklch(0.546 0.245 262.881);
	--sidebar-primary-foreground: oklch(0.985 0.001 265);
	--sidebar-accent: oklch(0.932 0.032 255.585);
	--sidebar-accent-foreground: oklch(0.147 0.004 265);
	--sidebar-border: oklch(0.882 0.059 254.128);
	--sidebar-ring: oklch(0.623 0.214 259.815);
}

.dark {
	--background: oklch(0.147 0.004 265);
	--foreground: oklch(0.985 0.001 265);

	--card: oklch(0.424 0.199 265.638);
	--card-foreground: oklch(0.985 0.001 265);

	--popover: oklch(0.424 0.199 265.638);
	--popover-foreground: oklch(0.985 0.001 265);

	--primary: oklch(0.809 0.105 251.813);
	--primary-foreground: oklch(0.216 0.006 265);

	--secondary: oklch(0.488 0.243 264.376);
	--secondary-foreground: oklch(0.985 0.001 265);

	--muted: oklch(0.488 0.243 264.376);
	--muted-foreground: oklch(0.709 0.01 265);

	--accent: oklch(0.488 0.243 264.376);
	--accent-foreground: oklch(0.985 0.001 265);

	--destructive: oklch(0.704 0.191 22.216);

	--border: oklch(0.932 0.032 255.585 / 10%);
	--input: oklch(0.932 0.032 255.585 / 15%);
	--ring: oklch(0.553 0.013 265);

	--chart-1: oklch(0.424 0.199 265.638);
	--chart-2: oklch(0.488 0.243 264.376);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.707 0.165 254.624);
	--chart-5: oklch(0.809 0.105 251.813);

	--sidebar: oklch(0.424 0.199 265.638);
	--sidebar-foreground: oklch(0.985 0.001 265);
	--sidebar-primary: oklch(0.707 0.165 254.624);
	--sidebar-primary-foreground: oklch(0.985 0.001 265);
	--sidebar-accent: oklch(0.488 0.243 264.376);
	--sidebar-accent-foreground: oklch(0.985 0.001 265);
	--sidebar-border: oklch(0.932 0.032 255.585 / 10%);
	--sidebar-ring: oklch(0.553 0.013 265);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}
